//VARIABLES PARA EL HEADER

.header {
	color: $white;
	height:700px;
	background-image: url('../images/post-image.jpg');
	background-repeat: no-repeat;
	background-size: cover;

	& .h1 {
		font-family: $playfair;
		font-weight: $black-italic;
		font-style: italic;
		font-size: $xx-large;
		margin-bottom: 180px;
	
	}
	
}


.header__content {
	max-width: 650px;
	margin: 0 auto;	
	padding-top: 20%;
}


